<fieldset>
  <legend>Client</legend>
  <% include ./client %>
</fieldset>
<fieldset>
  <legend>Contact Information:</legend>
  <% include ./contact %>
</fieldset>
<br/>
<fieldset>
  <legend>Cover Required:</legend>
  <div id="ins-lines" style="display:none">
    <span id="lead-ins-line">Insurance Line(s) Selected:</span>

    <!-- Insurance Lines Selection Checkbox -->
    <% for (var i = 0; i < productDef.length; i++) { %>
      <input id="<%= productDef[i].lineValue.toLocaleLowerCase() %>-line" type="checkbox" name="line" value="<%= productDef[i].lineValue %>"> 
      <%= productDef[i].lineLabel %>
    <% } %>

    <% for (var i = 0; i < productDef.length; i++) { %>
      <div id="<%= productDef[i].lineValue.toLocaleLowerCase() %>-types" style="display:none">
        <span id="lead-ins-type"><%= productDef[i].lineValue %> Type(s) Selected:</span>
        <% for (var j = 0; j < productDef[i].lineTypes.length; j++) { %>
          <input 
            id="<%= productDef[i].lineValue.toLocaleLowerCase() %>-<%= productDef[i].lineTypes[j].typeValue.toLocaleLowerCase().replace(/\s/g, '-') %>" 
            type="checkbox" 
            name="<%= productDef[i].lineValue %>" 
            value="<%= productDef[i].lineTypes[j].typeValue %>"> 
          <%= productDef[i].lineTypes[j].typeLabel %>
        <% } %>
      </div>
    <% } %>
    <br/>
    <label for="serviceComment">
      Service Comment:
      <textarea id="serviceComment" name="comment2"></textarea>
    </label>
  </div>
</fieldset>
<br/>
<fieldset>
  <legend>Lead Progress:</legend>
  Display the leads progress, allocation, assignment & status
</fieldset>

<hr/>

<div id="updateLeadButtons">
  <input id="leadModal" type="button" value="Update" onclick="updateLead()"/>
</div>

<div id="practiceLeadButtons">
  <input id="leadModal" type="button" value="Assign/Re-assign Lead" onclick="assignLead()"/>
  <input id="leadModal" type="button" value="Reject Lead" onclick="rejectLead('P')"/>
</div>

<div id="adviserLeadButtons">
  <input id="leadModal" type="button" value="Update Lead" onclick="updateLead()"/>
  <input id="leadModal" type="button" value="Reject Lead" onclick="rejectLead('A')"/>
</div>