<!--
User Description attributes
-->
<label>
  First Name*: <input id="u0" type="text" name="firstName" size="15" required/>
</label>
<label>
  Surname*: <input id="u1" type="text" name="surname" size="20"/ required>
</label>
<label>
  Password (6 characters minimum)*: </label>
<input id="u2" type="password" name="password" minlength="6" size="15" required/>
<br/>
<label>
  Phone: <input id="u3" type="text" name="phone" size="15"/>
</label>
<label>
  Cell*: <input id="u4" type="text" name="cell" size="15"/  required>
</label>
<label>
  Email*: <input id="u5" type="email" name="email" size="60"/  required>
</label>
<br/>
<label>
  Practice: <input id="u6" type="text" name="practice" size="60"/>
</label>
<br/>
<!--
User Role Selection
-->
<label><b>Select User's Role*:</b></label>
<label for="roleA">
  <input id="roleA" type="radio" name="role" value="A" onclick="javascript:isAdviser();"/>
  System Administrator
</label>
<label for="roleB">
  <input id="roleB" type="radio" name="role" value="B" onclick="javascript:isAdviser();"/>
  Practise Administrator
</label>
<label for="roleC">
  <input id="roleC" type="radio" name="role" value="C" onclick="javascript:isAdviser();"/>
  Adviser
</label>
<label for="roleD">
  <input id="roleD" type="radio" name="role" value="D" onclick="javascript:isAdviser();"/>
  Capture Leads
</label>

<br/>
<!--
If user role = Adviser select service abilities.
Note that this is not mandatory as it can maintained by the practice.
The skills of the adviser must be captured for it to be considered
during the leads allocation process.
-->
<div id="s-ins-lines" style="display:none">
   
  <fieldset>
    <legend>Select Adviser's Service Skill Lines:</legend>
    <span id="lead-ins-line">Insurance Lines:</span>
    <!--
    Id prefix definition for insurance product lines and types display":
      "a" for the add lead functionality
      "v" for the lead detail modal (view, edit)
      "s" for the user detail modal (add, view, edit)
    The prefix is required to make the ids unique to enable the reuse of this code
    -->
    <!-- Insurance Lines Selection Checkbox -->
    <% for (var i = 0; i < productDef.length; i++) { %>
      <input id="s-<%= productDef[i].lineValue.toLocaleLowerCase() %>-line" 
        type="checkbox" 
        name="line" 
        value="<%= productDef[i].lineValue %>" 
        onclick="javascript:typeSwitch('s-<%= productDef[i].lineValue.toLocaleLowerCase() %>');"> 
      <%= productDef[i].lineLabel %>
    <% } %>
    <!-- Insurance Line Types Selection Checkbox -->
    <% for (var i = 0; i < productDef.length; i++) { %>
      <div id="s-<%= productDef[i].lineValue.toLocaleLowerCase() %>-types" style="display:none">
        <fieldset>
          <legend><%= productDef[i].lineLabel %> Types</legend>
          <!-- <span id="lead-ins-type"><%= productDef[i].lineValue %> Type(s) Selected:</span> -->
          <% for (var j = 0; j < productDef[i].lineTypes.length; j++) { %>
            <input 
              id="s-<%= productDef[i].lineValue.toLocaleLowerCase() %>-<%= productDef[i].lineTypes[j].typeValue.toLocaleLowerCase().replace(/\s/g, '-') %>" 
              type="checkbox" 
              name="<%= productDef[i].lineValue %>" 
              value="<%= productDef[i].lineTypes[j].typeValue %>"> 
            <%= productDef[i].lineTypes[j].typeLabel %>
          <% } %>
        </fieldset> 
      </div>
    <% } %>

    <!-- <div id="ServiceComment" style="display:none"> -->
    <div id="comment">
      <label for="serviceComment">
        Service Comment:
        <textarea id="serviceComment" name="comment2">
        </textarea>
      </label>
    </div>
  </fieldset>

</div>

<div id="addUserButtons" style="display:none">
  <input id="formAddUser" type="button" value="Add User" onclick="submitUser('add')"/>
</div>
<div id="updateUserButtons" style="display:none">
  <input id="formAddUser" type="button" value="Update User" onclick="submitUser('update')"/>
  <input id="formAddUser" type="button" value="Delete User" onclick="deleteUser()"/>
</div>